<main class="form">
    <section>
        <h2>Editar livro:</h2>
        {{#with result}}
        <form action="/admin/livros/edit/{{id}}" method="post">
            <div>
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" id="titulo" value="{{titulo}}">
            </div>
            <div>
                <label for="ano">Ano:</label>
                <input type="number" name="ano" id="ano" value="{{ano}}">
            </div>
            <div>
                <label for="autor">Autor:</label>
                <input type="text" name="autor" id="autor" value="{{autor}}">
            </div>
            <div>
                <label for="editora">Editora:</label>
                <input type="text" name="editora" id="editora" value="{{editora}}">
            </div>
            <div>
                <label for="quantidade">Quantidade:</label>
                <input type="number" name="quantidade" id="quantidade" value="{{quantidade}}">
            </div>
            <button type="submit">Enviar</button>
            {{#with errors}}
            <ul class="errors">
                {{#each this as | error |}}
                <li>{{error}}</li>
                {{/each}}
            </ul>
            {{/with}}
        </form>
        {{/with}}
    </section>
</main>
