<main class="home">
    <section>
        {{#with success}}
        <div class="success">
            <p>{{this}}</p>
        </div>
        {{/with}}
        {{#with errors}}
        <ul class="errors">
            {{#each this as | error |}}
            <li>{{error}}</li>
            {{/each}}
        </ul>
        {{/with}}
        <form action="/search" method="get">
            <label for="q">Pesquisar por nome:</label>
            <input type="search" name="q" id="q" value="{{query}}">
            <button type="submit">Pesquisar</button>
        </form>
        <h2>Livros para empréstimo:</h2>
        {{#if results}}
        <table>
            <tr>
                <th>Título</th>
                <th>Ano</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Situação</th>
                <th>Opções</th>
            </tr>
            {{#each results}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{ano}}</td>
                <td>{{autor}}</td>
                <td>{{editora}}</td>
                <td>
                    {{#if quantidade}}
                    {{quantidade}} disponíveis  
                    {{else}}
                    Indisponível
                    {{/if}}
                </td>
                <td>
                    {{#if quantidade}}
                    <a href="/alugar/{{id}}-{{quantidade}}">Alugar</a>
                    {{else}}
                    Indisponível
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
        {{else}}
        <p>A biblioteca está vazia.</p>
        {{/if}}
    </section>
</main>
